 html *
{
   color: white;
   font-family: Lato;
}



#nav_container li{
  list-style-type: none;
  color: #EEE;

}
#footer{
    height: 40px;
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 10px;
    color: white;
}

.wrapper {
  width: 300px;
    border: 25px grey;
    padding: 25px;
    margin: 25px;
  min-height: 100%;

  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -50px;
}
.push {
  height: 50px;
}

#waves {
  border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 93.7%;
        margin-right: 50%;
        transform: translate(-50%, -50%)
}
/* unvisited link */
a:link {
    color: white;
    text-decoration: none; 
}

/* visited link */
a:visited {
    color: grey;
}

/* mouse over link */
a:hover {
    color: #0acea2;
}

/* selected link */
a:active {
    color: blue;
}